/* Header  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
    --clr-bg-header: #1bb7ff;
    --clr-btn: #1bb7ff;
    --clr-dropdown: white;
    --clr-nav-hover: #1bb7ff;
    --clr-dropdown-hov: #1bb7ff;
    --clr-dropdown-link-hov: #1bb7ff;
    --clr-light: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    --bs-gutter-x: -0.5rem;
}


/* ============= Top Header =============== */
.top_header {
    background-color: white;
    margin-bottom: 6px;
}




.main {
    width: 90%;
    margin: 0 auto;
}

.main h6 {
    color: #04BAE0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.icons i {
    font-size: 25px;
    border: 2px outset #04BAE0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    color: #04BAE0;
}


header {
    position: sticky;
    top: 0px;
    background-color: var(--clr-bg-header);
    width: 90%;
    z-index: 1000;
    padding: 10px;
    margin: 0 auto;
    border-radius: 33px;
    box-shadow: 0px 6px 1px #47a0c9;
}



.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(30, 130, 95, 0.5);
}

.main_header {

    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
}

.logo-container {
    flex: -1;
    display: flex;
    align-items: center;
}

.nav-btn {
    flex: 3;
    display: flex;
}

/* .nav-links {
    flex: 2;
} */

.log-sign {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.logo {
    color: var(--clr-light);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span {
    font-weight: 300;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid var(--clr-light);
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
    background-color: var(--clr-light);
    color: var(--clr-btn);
}

.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: var(--clr-light);
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;

}

.nav-link>a {
    line-height: 2rem;
    /* width: 146px; */
    font-size: 14px !important;
    color: var(--clr-dropdown);
    padding: 10px 12px 0px 26px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link>a>i {
    margin-left: .2rem;
}

.nav-link:hover>a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -39px;
    width: 15rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;

    transition: .5s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.dropdown ul {
    position: relative;
}



.dropdown-link>a {
    display: flex;
    background-color: var(--clr-dropdown);
    color: var(--clr-light);
    padding: .5rem 1rem;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover>a {
    color: #1bb7ff;
    translate: calc(12px);
}



.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: var(--clr-light);
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
    background-color: var(--clr-dropdown);
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--clr-light);
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--clr-light);
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: var(--clr-btn);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* overflow-x: hidden;
        overflow-y: auto; */
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked~.nav-btn {
        transform: translateX(0);
    }

    #check:checked~.nav-btn .nav-link,
    #check:checked~.nav-btn .log-sign {
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links>ul {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link>a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover>a {
        transform: scale(1);
        background-color: var(--clr-nav-hover);
    }

    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: var(--clr-dropdown-hov);
        display: none;
    }

    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        display: block;
    }

    .nav-link:hover>a>i,
    .dropdown-link:hover>a>i {
        transform: rotate(360deg);
    }

    .dropdown-link>a {
        background-color: transparent;
        color: var(--clr-light);
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .arrow {
        z-index: 1;
        background-color: var(--clr-btn);
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow {
        background-color: var(--clr-nav-hover);
    }

    .dropdown .dropdown .arrow {
        display: none;
    }

    .dropdown-link:hover>a {
        background-color: var(--clr-dropdown-link-hov);
    }

    .dropdown-link:first-child:hover~.arrow {
        background-color: var(--clr-nav-hover);
    }

    .nav-link>a>i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i {
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

/* Header end  */



/* Main Section  */

.carousel-item {
    margin-bottom: 20px !important;
}

.carousel-item .carousel-caption h6 {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    gap: 4px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0px;
}

.carousel-item .carousel-caption p {

    font-size: 50px;
    color: white;
    gap: 4px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
}

.carousel-item .carousel-caption .read_more {
    width: 200px;
    background-color: #04BAE0;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px;
    border: none;
    font-family: poppins;
    border-radius: 15px;

}

.carousel-item .carousel-caption .read_more:hover {
    background-color: #002e5a;
    transition: 1s;
}

.carousel-item .carousel-caption .get_a_quote {
    width: 200px;
    background-color: #002e5a;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px;
    border: none;
    font-family: poppins;
    border-radius: 15px;
    margin-left: 10px;

}

.carousel-item .carousel-caption .get_a_quote:hover {
    background-color: #04BAE0;
    transition: 1s;
}


/* ************ Section Second ****************** */


.card {
    border: none;

}

.card_main_position {
    position: relative;
    bottom: 20rem;
}

.card .card-body .card-main img {
    width: 100%;
}

.card .card-body .card-main i {
    font-size: 50px;
    color: white;
    margin-top: 30px !important;
}

.card .card-body .card-main h3 {
    font-size: 24px;
    color: #07335e;
    font-weight: 600;
    font-family: poppins;
    margin-bottom: 10px;
    margin-top: 70px;
}

.card .card-body .card-main p {
    font-size: 13px;
    width: 70%;
    margin: 0 auto;
    color: black;
    font-weight: 600;
    font-family: poppins;
    margin-top: 10px;
}

.card .card-body .card-main a {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #002e5a;

}

.card .card-body .card-main a:hover {
    text-decoration: underline;
}

/* *************** Third sectiom ***************** */
.third_section h6 {
    color: #2faee7;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: poppine;
}

.third_section h4 {
    font-size: 35px;
    color: #002e5a;
}

.third_section h4 span {
    color: #2faee7;
}

.MORE_ABOUT_US a {
    font-size: 17px;
    text-transform: uppercase;
    color: #003a63;
    font-weight: 600;
}

.MORE_ABOUT_US a:hover {
    text-decoration: underline;
}

.MORE_ABOUT_US p {
    font-size: 15px;
}

.MORE_ABOUT_US p span {
    color: #04BAE0;
}

/* ************** fourth_portion *************** */
.fourth_portion button {
    background-color: #002e5a;
    width: 150px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    border: none;

}

.fourth_portion button:hover {
    background-color: #2bace7;
    transition: 1s;
}

.fourth_portion .button-active {
    background-color: #007bff;
    color: #fff;

}

.set_ids {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.set_ids p {
    margin-left: 20px;
    margin-top: 10px;
}


.hidden {
    display: none;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    background-color: #1bb7ff;
    color: #003a63;
    padding: 30px;
}

.list_link {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list_link h5 {

    margin-top: 20px;
}

.list_link a {
    line-height: 28px;
    color: rgb(65, 64, 64);
    font-size: 14px;
    text-decoration: underline;
}

.list_link a:hover {
    color: white;
}

footer h5 {
    font-size: 16px;
    margin-top: 2px;
    color: #003a63;
}

footer p {
    font-size: 14px;
    margin-top: 10px;
}

/* last section image set  */
.cycle_image {

    margin-top: -14rem;
}